*{margin:0;padding:0;list-style-type:none;}
h4{
	font-weight: normal;
}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
  background: url(../img/bg.jpg);}
a:hover{ text-decoration:none;}
.addWrap{ position:relative; width:100%;background:#fff;margin:0; padding:0;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative;}
#position{ position:absolute; bottom:0; right:0; padding-right:8px; margin:0; opacity: 0.4; width:100%; filter: alpha(opacity=50);text-align:right;}
#position li{width:10px;height:10px;margin:0 2px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;background-color:#AFAFAF;}
#position li.cur{background-color:#FF0000;}
.img-responsive { display: block; max-width:100%;height: auto;}
/*轮播end*/



.nav{
	width: 100%;
	height: 35px;
	background: #000000;
	border-bottom: 1px solid #565554;
	
}
.nav ul{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}
.nav li{
	float: left;
	color: #565554;
	line-height: 34px;
	font-size: 14px;
}
.nav ul li:nth-child(1){
	color: #facd89;
	border-bottom: 1px solid #facd89;
}
.nav ul li:nth-child(2){
	margin-left: 22%;
}
.nav ul li:last-child{
	float: right;
}
.nav select{
	background: none;
	border: none;
	color: #565554;
	font-size: 14px;
}


/* container */
.container{position:relative;top:0;}
.imgShow{
	position:absolute;border:solid 1px #ccc;padding:10px ;width:300px;top:0px;left:0px;
	-webkit-transition:all .7s ease-out .1s; 
	-moz-transition:all .7s ease-out .1s; 
	-o-transition:all .7s ease-out .1s; 
	transition:all .7s ease-out .1s
}

/*瀑布流*/

*{
	padding: 0px;
	margin: 0px;
}
#main{
	position: relative;
}
.box{
	padding: 5px 0 0 5px;
	float: left;
	position: relative;
	
}
.pic{
	overflow: hidden;
	padding: 0px;
	/*border: 1px solid #ccc;*/
	box-shadow: 0 0 #ccc;
	border-radius: 5px;
	border-bottom-left-radius:15px ;
	border-bottom-right-radius:15px ;
}
.pic img{
	width: 150px;
	height: auto;
}
.bottom{
	width: 97%;
	height: 50px;
	position: absolute;
	bottom: 7px;
	right: 0;
	background: rgba(43,27,7,.8);
}
.bottom p {
  padding: 0px 5px 0px 5px;
  color: #e5e5e5;
  line-height: 15px;
  padding-top: 2px;
}
.bottom ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.bottom_l{
	float: left;
	color: #facd89;
}
.bottom b{
	display: inline-block;
	width: 13px;
	height: 13px;
	float: left;
 	margin:5px 2px 0 0 ;

}
.love_1{
	background: url(../img/icon_18.png) no-repeat;
	background-size:100% ;
}
.love_2{
	background: url(../img/icon_19.png) no-repeat;
	background-size:100% ;
}
.bottom_r {
	float: right;
	color: #aaaaaa;
}
.bottom_l,.bottom_r{
	padding: 0 5px;
}
/*footer*/
footer {
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,1);
  position: fixed;
  bottom: 0;
  
}
.footer_my,.footer_show {
  float: left;
  width: 50%;
  height: 50px;
  color:#707070 ;
}
.footer_show{
	width: 49%
}
footer b {
  width: 24px;
  height: 24px;
  display: inline-block;
}
footer .man,footer .camera{
	float: left;
	margin-left: 32%;
    margin-top: 12px;
}
footer .camera{
	margin-left: 25%;
}
footer .man{
	background:url(../img/icon_13.png) no-repeat ;
	background-size:100% ;
}
footer .camera{
	background:url(../img/icon_12.png) no-repeat ;
	background-size:100% ;
}
footer p {
  display: inline-block;
  font-size: 14px;
  float: left;
  margin-top: 14px;
  margin-left: 5px;
}
.foot_hr {
  width: 0px;
  float: left;
  border-left: 1px solid white;
  height: 30px;
  margin-top: 10px;
}
@media only screen and (min-width: 376px) and (max-width: 414px) {
	footer .camera {
  		margin-left: 30%;
	}
}
/*@media only screen and (min-width: 321px) and (max-width: 360px) {
	.pic img{
	width: 150px;
	height: auto;
}

}
@media only screen and (min-width: 361px) and (max-width: 375px) {
.pic img{
	width: 150px;
	height: auto;
}

}
@media only screen and (min-width: 376px) and (max-width: 414px) {
	.pic img{
	width: 155px;
	height: auto;
}

}*/