body,p,h1,h2,h3,h4,h5,h6,ul,li{
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: ;
}
body{
	background: url(../img/bg_04.png) no-repeat;
	background-size:100% ;
	background-color: #322117;
}
i{
	font-style: normal;
}
b{
	font-weight: normal;
}
li{
	list-style: none;
	color: #dcdcdc;
	  border-bottom: 1px solid #513d2b;;
	  margin-top: 10px;
	  padding-bottom: 7px;
}
.page{
	width: 90%;
	margin: 0 auto;
	min-height: 580px;
	margin-bottom: 70px;
	position: relative;

}
.recharge {
  margin-top: 40px;
}
.recharge h3 {
  margin-bottom: 5px;
  color: #facd89;
    font-weight: normal;
}
.recharge p{
	padding-left: 14px;
	color: #c9c9c9;
}
.m_list {
  width: 100%;
  height: 210px;
  border: 1px solid #4e3928;
  background: rgba(0,0,0,.2);
  margin-top: 20px;
  border-radius: 5px;
}
.m_list ul {
  padding: 5%;
}
input{
	border: 0;
	background: none;
	width: 72%;
	color: #c5c3c1;
}
select {
  width: 70%;
  background: none;
  border: 0;
  color: #88817f;
}

input[type="submit"] {
  width: 100%;
  color: #422404;
  background: #ab9358;
  padding: 8px 0px;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 14px;
}

/*风尚雅意 logo*/
.my_logo{
	position: absolute;
	bottom: 0;
	left: 50%;
  	width: 120px;
	height: 50px;
	background: url(../img/icon_27.png) no-repeat 30px 0px;;
	background-size:45% ;
	color: #9b928c;
	font-size: 12px;
	margin-left: -60px;
}
.my_logo span{
  margin-top: 40px;
  float: left;
}
hr {
  position: absolute;
  width: 100%;
  bottom: 50px;
  padding: 0px;
  /* margin: 0px; */
  border-top: 1px;
  border-color: #675950;
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
	.page{
	 	min-height: 640px;
	 } 
}

@media only screen and (min-width: 361px) and (max-width: 375px) {
	.page{
		min-height: 675px;
	}
}

@media only screen and (min-width: 376px) and (max-width: 414px) {
	.page{
		min-height: 750px;
	}
}
